In [4]:
import pandas as pd
import numpy as np

In [5]:
data_path = r"C:\Users\trush\OneDrive\Documents\WFU Grad School Info\BAN 6025 Machine Learning\Data\internet_service_churn.csv"
isp_df = pd.read_csv(data_path)
isp_df.head()

,id,is_tv_subscriber,is_movie_package_subscriber,subscription_age,bill_avg,reamining_contract,service_failure_count,download_avg,upload_avg,download_over_limit,churn
0,15,1,0,11.95,25,0.14,0,8.4,2.3,0,0
1,18,0,0,8.22,0,NaN,0,0.0,0.0,0,1
2,23,1,0,8.91,16,0.00,0,13.7,0.9,0,1
3,27,0,0,6.87,21,NaN,1,0.0,0.0,0,1
4,34,0,0,6.39,0,NaN,0,0.0,0.0,0,1

Data Cleaning

In [7]:
def percentage_missing(df):
    return df.isna().sum() / len(df) * 100

In [6]:
#We do not want the id column since it is not useful to determining the isp churn
isp_df = isp_df.drop(columns=['id'])
isp_df.head()

,is_tv_subscriber,is_movie_package_subscriber,subscription_age,bill_avg,reamining_contract,service_failure_count,download_avg,upload_avg,download_over_limit,churn
0,1,0,11.95,25,0.14,0,8.4,2.3,0,0
1,0,0,8.22,0,NaN,0,0.0,0.0,0,1
2,1,0,8.91,16,0.00,0,13.7,0.9,0,1
3,0,0,6.87,21,NaN,1,0.0,0.0,0,1
4,0,0,6.39,0,NaN,0,0.0,0.0,0,1

Missing Values

In [8]:
percentage_missing(isp_df)

is_tv_subscriber                0.000000
is_movie_package_subscriber     0.000000
subscription_age                0.000000
bill_avg                        0.000000
reamining_contract             29.847525
service_failure_count           0.000000
download_avg                    0.527161
upload_avg                      0.527161
download_over_limit             0.000000
churn                           0.000000
dtype: float64

In [10]:
#If a column contains more than 20% missing values, then remove the column from the model.
isp_df = isp_df.drop(columns=['reamining_contract'])
isp_df.head()

,is_tv_subscriber,is_movie_package_subscriber,subscription_age,bill_avg,service_failure_count,download_avg,upload_avg,download_over_limit,churn
0,1,0,11.95,25,0,8.4,2.3,0,0
1,0,0,8.22,0,0,0.0,0.0,0,1
2,1,0,8.91,16,0,13.7,0.9,0,1
3,0,0,6.87,21,1,0.0,0.0,0,1
4,0,0,6.39,0,0,0.0,0.0,0,1

In [11]:
#Remove the rest of the missing values since download_avg and upload_average have <1% missing values
isp_df = isp_df[isp_df['download_avg'].notna()]
isp_df = isp_df[isp_df['upload_avg'].notna()]
isp_df.head()

,is_tv_subscriber,is_movie_package_subscriber,subscription_age,bill_avg,service_failure_count,download_avg,upload_avg,download_over_limit,churn
0,1,0,11.95,25,0,8.4,2.3,0,0
1,0,0,8.22,0,0,0.0,0.0,0,1
2,1,0,8.91,16,0,13.7,0.9,0,1
3,0,0,6.87,21,1,0.0,0.0,0,1
4,0,0,6.39,0,0,0.0,0.0,0,1

In [12]:
#Everything should be good now
percentage_missing(isp_df)

is_tv_subscriber               0.0
is_movie_package_subscriber    0.0
subscription_age               0.0
bill_avg                       0.0
service_failure_count          0.0
download_avg                   0.0
upload_avg                     0.0
download_over_limit            0.0
churn                          0.0
dtype: float64

In [13]:
#Download as .csv
isp_df.to_csv('isp_cleaned.csv', index=False)